.form-appointment {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1.5rem 3.7rem;
  background-color: rgb(127, 214, 255);
  margin-left: 28rem;
  margin-right: 20rem;
  margin-top: 5rem;
}
