@media (max-width: 768px) {
  .myAppMargin {
    margin-top: 56px;
    background-image: url(../images/appformbg.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .myAppMargin {
    margin-left: 232px;
    background-image: url(../images/appformbg.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
