.signup-form {
  background-color: rgb(127, 214, 255);
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid white;
  border-radius: 1rem;
}

.signin-text {
  margin-top: 10px;
  text-align: right;
  font-size: 16px;
}

.signin-link {
  text-decoration: none;
}

.input {
  width: 100px;
}
